@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #197b58;
    margin: auto;
}

.center {
    text-align: center;
}

h1 {
    font-size: 15vmax;
    font-family: Darker Grotesque;
    font-weight: 500;
    color: #1e1e1e;
}