@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    background-color: #1C1E26;
}

h1 {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #F43E5C;
    font-size: 8vmin;
}

strong {
    font-weight: 400;
}

.container {
    margin: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 60%;
    }
}

p {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #FDF0ED;
    font-size: 3.5vmin;
    line-height: 6vmin;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

.nav-link {
    color: #09F7A0;
    line-height: 5vmin;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 4vmin;
    font-weight: 300;
    margin-right: 1.5vw;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link:visited {
    color: #09F7A0;
}

.text-link {
    text-decoration: underline;
    color: #FDF0ED;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
}

.text-link:hover {
    text-decoration: none;
}

.text-link:visited {
    color: #FDF0ED;
}