html {
	font-size: 65%;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

.center-text {
	text-align: center;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 10px 20px;
}
