html {
	font-size: 65%;
}

body {
	font-smooth: auto;
	-webkit-font-smoothing: subpixel-antialiased, antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center-text {
	text-align: center;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 10px 20px;
}