@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap');

.center {
  text-align: center;
}

body {
  background-color: #197b58;
  margin: auto;
}

h1 {
  font-family: Darker Grotesque;
  font-size: 15vmax;
  font-weight: 500;
  color: #1e1e1e;
}