@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: #ffffff;
}
  
h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #101010;
    font-size: 2.5em;
}

strong {
    font-weight: 700;
}

p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: #101010;
    font-size: 1.25em;
    line-height: 2em;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

.main {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 65%;
}

#twitter {
    margin-right: 0.5em;
}

#twitter:hover {
    fill: #1da1f2;
}

#twitter:active {
    fill: #1da1f2;
}

#linkedin {
    margin-right: 0.5em;
}

#linkedin:hover {
    fill: #2867b2;
}

#linkedin:active {
    fill: #2867b2;
}

#github {
    margin-right: 0.5em;
}

#github:hover {
    fill: #24292e;
}

#github:active {
    fill: #24292e;
}

#email {
    margin-right: 0.5em;
}

#email:hover {
    fill: #D44638;
}

#email:active {
    fill: #D44638;
}

a {
    text-decoration: none;
    color: inherit;
}

#text-link {
    text-decoration: underline;
}

#text-link:hover {
    text-decoration: none;
}

a:visited {
    color: inherit;
}